@font-face{font-family:EvilIcons;font-style:normal;font-weight:400;src:url(fonts/EvilIcons.ttf) format('truetype')}@font-face{font-family:Feather;font-style:normal;font-weight:400;src:url(fonts/Feather.ttf) format('truetype')}@font-face{font-family:FontAwesome;font-style:normal;font-weight:400;src:url(fonts/FontAwesome.otf) format('truetype')}@font-face{font-family:Foundation;font-style:normal;font-weight:400;src:url(fonts/Foundation.ttf) format('truetype')}@font-face{font-family:Ionicons;font-style:normal;font-weight:400;src:url(fonts/Ionicons.ttf) format('truetype')}@font-face{font-family:MaterialCommunityIcons;font-style:normal;font-weight:400;src:url(fonts/MaterialCommunityIcons.ttf) format('truetype')}@font-face{font-family:MaterialIcons;font-style:normal;font-weight:400;src:url(fonts/MaterialIcons.ttf) format('truetype')}@font-face{font-family:Octicons;font-style:normal;font-weight:400;src:url(fonts/Octicons.ttf) format('truetype')}@font-face{font-family:SimpleLineIcons;font-style:normal;font-weight:400;src:url(fonts/SimpleLineIcons.ttf) format('truetype')}@font-face{font-family:Zocial;font-style:normal;font-weight:400;src:url(fonts/Zocial.ttf) format('truetype')}

.navbar {
  background-color:#337ab7 !important;
  width: 100%;
  z-index: 20;
  position: inherit;
  top: 0px;
}
.mr-auto a{
  color: white  !important;
}
.navbar-brand{
  color: white  !important;
}
.dropdown-menu {
  background-color: #337ab7;
}
.dropdown-menu a:hover{
  background-color: blue !important;
}
.form-inline button {
  color: #fff;
  /* border-color: #fff; */
  background-color: #28a745
}
.carousel-item{
  height: 625px;
}
.w-100{
  height: 620px;
  object-fit: cover;
}
.cover{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cover1{
  background-image: url('./images/slider/3.jpg');
}
.cover2{
  background-image: url('./images/slider/6.jpg');
}
.cover3{
  background-image: url('./images/slider/11.jpg');
}
.section_title span {
  color: #F2C64D;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 18px;
  display: block;
  font-family: "Pacifico", cursive;
  margin-top: 60px;
}
.section_title h3 {
  font-size: 50px;
  font-weight: 700;
  color: #1A0D01;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.slick-list{
  height: auto;
  margin-left: 15px;
  margin-left: 0px;
}
.card{
  border-radius: 10px !important;
  margin-bottom: 25px;
  height: auto;
  margin-left: 20px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc; 
}
figure{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.card-img-top{
  height: 200px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-img-top:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);  
}
.card-body{
  padding: 10px;
  margin: 10px;
}
.card-text{
  margin-bottom: 0rem;
}
.card-title{
  margin-bottom: 0.2rem;
}
.slick-slider{
  width: 97.1%;
  margin-left: 18px;
}
.slick-arrow {
  background-color: #333;
  opacity: 0.8;
}
.TestimonialsView{
  text-align: center;
  width: 60% !important;
  margin-left: 18%;
}

.card-body ul{
  justify-content: center;
  margin: 10px !important;
}
.rounded-circle{
  display: initial !important;
  width: 70px;
  margin-bottom: 5px;
}
.footer {
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F5FBFF;
  background-image: url(./images/background/footer_bg.png);
}

.footer .footer_top {
  padding-top: 113px;
  padding-bottom: 100px;
}
.footer_title{
  text-align: center;
}
.noItem
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  height: 75px;
  margin: 40px;
}
.orderLog
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    /* float: left; */
}
.orderLog_card
{
  width: auto;
  height: 250px;
  overflow: auto;
}
.footer .footer_top .footer_widget .number {
  color: #F0542C;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
}

.footer .socail_links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer .socail_links ul li {
  display: inline-block;
}

.footer .socail_links ul li a {
  font-size: 18px;
  color: #F0542C;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 10px;
  line-height: 50px !important;
  border: 1px dashed #F0542C;
}
.footer .socail_links ul li a:hover i {
  color: #fff !important;
}

.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #F0542C;
  border-color: transparent;
  text-decoration:none;
}
.footer_border {
  border-top: 1px solid #E7E4E0;
  padding-bottom: 15px;
}

.copy_right_text{
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: #333;
}
.copy_right_name
{
  color: #F0542C ;
  padding-left: 5px;
}
.menu
{
  display: flex;
  margin:50px;
}
.menu_card
{
  display: flex;
  float: left;
  flex-wrap: wrap;
}
button{
  margin-top: 8px;
}
.pop_up_button
{
  position: fixed;
  z-index: 100;
  right: 8%;
  top: 90%;
  border-radius: 8%;
}
.popup-content 
{
  position: fixed !important;
  z-index: 100 !important;
  width: 270px !important;
  height: 350px !important;
  /* overflow-y:auto; */
  top:210px !important;
  border-radius: 6%;
}
.pop_up_table
{
  height: 226px;
  display: block;
  table-layout: auto;
  overflow-y: auto;
}
.confirm_tr
{
  padding: 0px !important;
  border-bottom:0px !important;
  width: 100% !important;
}
.confirm_btn
{
  margin: 5px;
  border-radius: 10px;
}
.close_btn
{
  margin: -5px;
}
.text-muted
{
  color: red !important;
}
.modal_btn{
  margin: 5px ;
}
.favorite
{
  position: absolute;
  right: 8px;
}
.price
{
  position: absolute;
  background-color: #fff;
  top: 165px;
  left: 2px;
  border-radius: 13;
  border-radius: 5px;
  padding: 4px;
}
p{
  margin: 0px;
}

@media  (max-height: 650px) {
  .popup-content 
  {
    top:215px !important;
  }
}
@media (min-height: 651px) and (max-height: 700px) {
  .popup-content 
  {
    top:235px !important;
  }
}
 @media (min-height: 701px) and (max-height: 750px) {
  .popup-content 
  {
    top:300px !important;
  }
} 
@media (min-height: 751px)  and (max-height: 850px) {
  .popup-content 
  {
    top:370px !important;
  }
} 
@media (min-height: 851px)  and (max-height: 1200px) {
  .popup-content 
  {
    top:560px !important;
  }
} 
@media (min-height: 1201px)  and (max-height: 1400px) {
  .popup-content 
  {
    top:850px !important;
  }
} 
@media (min-height: 1401px) {
  .popup-content 
  {
    top:850px !important;
  }
} 


@media only screen and (max-width: 600px) {
  .TestimonialsView{
    text-align: center;
    width: 90% !important;
    margin-left: 0;
    
  }
  .pop_up_button
  {
    right: 21%;
    
  }
  /* .popup-content 
  {
    top:270px !important;
  } */
}
@media  (max-width: 767px) {
  /* line 8, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  /* .popup-content 
  {
    top:240px !important;
  } */
}

@media (max-width: 767px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 730px) and (max-width: 991px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
  /* .popup-content 
  {
    top:560px !important;
  } */
}

@media (min-width: 1000px) and (max-width: 1100px) {
  /* line 15, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
  /* .popup-content 
  {
    top:850px !important;
  } */
}



@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title.pos_margin {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  /* line 22, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}


@media (max-width: 767px) {
  /* line 46, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}



@media (max-width: 767px) {
  /* line 180, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}












